/* body {
  margin: 10px;
} */

* {
  margin: 0;
  padding: 0;
}

/* .container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.222), rgba(0, 0, 0, 0.3)),
    url(images/2.jpg) center no-repeat;
  background-size: cover;
} */

.banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.banner-text p {
  padding-top: -10;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 280px;
}

.header2 {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-left: 998px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

about-navbar nav a {
}

.header {
  position: absolute;
  top: 60px;
  right: 50px;
}

header nav a {
  margin: 0 1em;
}

/* .Nav-text {
  color: #eee;
  font-family: 'Montserrat', sans-serif;
} */

.home-navbar {
  color: rgb(255, 255, 255); /* Change the text color to blue */
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
}

.home-navbar:hover {
  font-weight: 600;
}

.about-navbar {
  color: rgb(0, 0, 0); 
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1.5px solid #4399f6;
}

.about-navbar:hover {
  /* font-weight: 600; */
  background-color: #4399f6;
}

.about-wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 200px;
  padding-top: 200px;

  /* margin: 0 auto;
  padding: 00px 200px;  */
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.p-about2 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 25px;
  /* padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff; */
}

.h-about {
  font-size: 50px;
  color: #ffffff;
  
}

.about-main {
  background-color: #000000;
  height: 100vh;
  /* padding: 200px 20px; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 100vh;
  box-sizing: border-box;
}

.about-image {
  background-image: url('/images/3.jpg');
  width: 363px;
  background-size: cover;
  width: 90%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.222), rgba(0, 0, 0, 0.3)),
    url(images/2.jpg) center no-repeat;
  background-size: cover;
}

/* .about-image {
  background-image: url('/images/3.jpg');
  width: 70%;
  height: 100%;
  
}  */

/* .container {
  position: relative;
} */

/* .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.cta {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;

}

.cta.alt {
  background-color: #4399f6;
}

.cta:hover {
  background-color: #ffffff;
  color: #000000;
}


/* form style */

#update-form {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#update-form div {
  margin-bottom: 20px;
}

#update-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#update-form input[type='text'],
#update-form input[type='email'],
#update-form input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#update-form button[type='submit'] {
  background-color: #10151d;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

#update-form button[type='submit']:hover {
  background-color: #2d428f;
}

.update-form-img {
  height: 25vh;
  width: 25vw;
}

.background-image {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.222), rgba(0, 0, 0, 0.3)),
    url(images/2.jpg) center no-repeat;
  background-size: cover;
}
