.reviews-section form {
  margin-bottom: 20px;
}

.reviews-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reviews-section input,
.reviews-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.reviews-section button {
  font-size: larger;
}

.reviews-section h3 {
  margin-bottom: 10px;
}

.reviews-section .review-list {
  list-style: none;
  padding: 0;
  color: #211423;
  font-size: larger;
  font-weight: bolder;
}

.reviews-section .review-list .review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviews-section .review-list .review img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviews-section .review-list .review-content {
  flex: 1;
}

.reviews-section .review-list .review-content p {
  margin: 0;
}

.reviews-section .review-list .username {
  font-weight: lighter;
  color: #14171a;
  font-size: smaller;
  font-family: monospace;
}

.reviews-section form {
  display: flex;
  align-items: center;
}

.reviews-section form label {
  margin-right: 10px;
}

.reviews-section form select {
  margin-right: 20px;
}

.booking-section table {
  width: 100%;
  table-layout: fixed;
}

.booking-section {
  margin-top: 1%;
  padding: 1%;
}

.booking-section th,
.booking-section td {
  padding: 10px; 
  text-align: left;
}

.booking-section th b,
.booking-section td b {
  font-weight: bold;
}

body {
  margin: 0px;
  padding: 0px;
  background: #c2c2c2;
  font-family: arial;
  box-sizing: border-box;
}
.card-container {
  width: 90%;
  height: 85%;
  background: #fff;
  /* border-radius: 6px; */
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0px 1px 10px 1px #000; */
  overflow: hidden;
  display: inline-block;
}
.upper-container {
  height: 150px;
  background: #000000;
}
.image-container {
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px, 100px);
}
.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.lower-container {
  background: #fff;
  padding: 0.8%;
  /* padding-top: 40px; */
  margin-bottom: 20px;
}

.lower-container h3 {
  line-height: 0.6;
  font-weight: light;
  margin-top: auto;
  margin-left: 20%;
}

.lower-container h4 {
  margin: 13px;
  margin-left: 20%;
  color: #4399f6;
  opacity: 0.6;
  font-weight: 900;
}
.lower-container button {
  padding: 12px 20px;
  background: #000000;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in;
  margin-left: 95%;
  margin-top: 0.2%;
}
.lower-container button:hover {
  background: transparent;
  color: #000000;
  border: 2px solid #000000;
}
