article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  /* overflow: hidden; */
}

/* basic article elements styling */
article h1 {
  margin: 0 0 18px 0;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 115%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #979797;
  font-size: 0.8rem;
}

article a:focus {
  outline: 1px dotted #000000;
}

/* article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  } */

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #000000;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

/************************ 
  Generic layout (demo looks)
  **************************/

.price {
  /* padding: 48px 0; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.6rem;
  /* min-height: 100vh; */
  font-weight: 600; /* Change the font weight*/
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(320px, 1fr)); */
  gap: 24px;
  padding-bottom: 60px;
}

.activities-background {
  background-image: linear-gradient(45deg, #000000, #181818);
  /* height: 150%;
  margin-bottom: 50px; */
  /* background-color: red; */
}
